<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<html>
<head>
    <link rel="stylesheet" href="contact.component.css">
</head>
<body>
<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="LeafLine" class="navbar-logo">LeafLine
    </a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/destinations">Destinations</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>
        <a href="/login" class="log-in-button">Log In</a>
</nav>

<div class="handwriting-label">
    <p class="center-aligned">Email: LeafLineTours@gmail.com </p>
    <p class="center-aligned">Phone: +40 746 905 354 </p>
</div>
</body>
</html>
