<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Location Management</title>
    <link rel="stylesheet" href="admin-page.component.css">
</head>
<body>
    <header>
        <h1>Admin Dashboard - Manage Locations</h1>
        
    </header>
    <main>
        <div class="actions">
            <a href="/addLocation" class="button" id="addLocationBtn">Add New Location</a>
            <label for="updateValue">Input Value:</label>
            <input type="number" id="updateValue" placeholder="Enter value" [(ngModel)]="updateValue" class="update-input">
            <button class="logout-button" (click)="logoutUser()">Logout</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Slots</th>
                    <th>Discount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let location of locations">
                    <td>{{ location.id }}</td>
                    <td>{{ location.name }}</td>
                    <td>{{ location.location }}</td>
                    <td>{{ location.type }}</td>
                    <td>{{ location.price }}</td>
                    <td>{{ location.nrSlots }}</td>
                    <td>{{ location.discount }}</td>
                    <td>
                        <button (click)="changePrice(location.id)">Change Price</button>
                        <button (click)="changeSlots(location.id)">Change Slots</button>
                        <button (click)="changeDiscount(location.id)">Change Discount</button>
                        <button (click)="removeLocation(location.id)">Remove</button>
                        <button (click)="getGraphs(location.id)">Graphs</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
