<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<html>
<head>
    <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="LeafLine" class="navbar-logo">LeafLine
    </a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/destinations">Destinations</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>
    <div *ngIf="!isLoggedIn">
        <a href="/login" class="log-in-button">Log In</a>
      </div>
      <div *ngIf="isLoggedIn">
        <button  class="auth-button" (click)="logoutUser()">Log Out</button>
      </div>
</nav>
<div class="handwriting-label">
    <p class="left-aligned">Dear Adventurer,</p>
    <p class="center-aligned">Embark with LeafLine Tours on sustainable journeys, where eco-friendly practices meet 
        unforgettable adventures amidst the world's most stunning natural wonders. Join us in promoting conservation and cultural respect.</p>
    <p class="right-aligned">Warmly,</p>
    <p class="right-aligned">LeafLine Tours</p>
</div>


</body>
</html>
